body{
    font-family: 'Raleway', sans-serif;
    margin: 0em;
}
h1{
    font-size: 45px;
    color: deeppink;
    font-weight: bolder;
}
h2{
    font-size: 35px;
    
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-top: 5%;
}
#letter-setup{
    margin-left: 10%;
    padding-left: 5%;
    margin-top: 14%;
}

.half-width img{
    width: 90%;
}
.header-bg{
    background-image:url("header.png");
    background-repeat: repeat;
    }
.link-button{
    text-decoration: none;
    background-image: linear-gradient(60deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: wheat;
    font-weight: bold;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
#img-setup{
    margin-left: 10%;
}
#biography-setup{
    margin-left: 5%;
    margin-top: 12%;
    margin-right: 5%;    
}
.biography-area{
    background-image: url("biography-bg.png");
    background-repeat: no-repeat;
}
.one-third-width{
    text-align: center;
    margin-top: 10%;
}
.one-third-width img{
    width: 25%;
    float: left;
    margin-left: 7%;   
}
.works{
    background-image: url("latest-work-bg.png");
    background-repeat: no-repeat;
}